// font-family

$ff: 'Open Sans', sans-serif;

// font-weight

$fw1: 300;

$fw2: 400;

$fw3: 600;

// color

$c1: #414141;

    $c1-1: rgba(65, 65, 65, 0.2);
    $c1-2: rgba(65, 65, 65, 0.7);
    $c1-3: rgba(65, 65, 65, 0.8);

$c2: #ffffff;

$c3: #5899e2;

    $c3-1: #691b9e;

$c4: #56b3af;

$c5: #fbfbfc;

$c6: #dcdcdc;

    $c6-1: rgba(220, 220, 220, 0.4);

$c7: #868686;

$c8: #fdfdfd;

$c9: #fbfbfa;

$c10: #508acb;

$c11: #fbfdfc;

$c12: #545454;

// font-size

$fs1: 10px;

$fs2: 12px;

$fs3: 13px;

$fs4: 14px;

$fs5: 16px;

$fs6: 18px;

$fs7: 19px;

$fs8: 30px;

$fs9: 34px;

$fs9-1:35px;

$fs10: 73px;