@import 'variables';

*{
    margin: 0;
    box-sizing: border-box;
    font-family: $ff;
    font-weight: $fw1;
}

// body{
//     // display: grid;
//     // grid-auto-rows: auto 1fr auto;
//     // min-height: 100vh;
// }

.container{
    max-width: 1040px;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 320px;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    transition: 0.5s;
    
    &:hover{
        opacity: 0.5;
    }
}