@import 'variables';

*{
    margin: 0;
    font-family: $ff;
    font-weight: $fw1;
}

.container{
    max-width: 1000px;
    box-sizing: border-box;
    margin: 0 auto;
}

a{
    text-decoration: none;
    color: $c1;
    font-family: inherit;
}